force-app/main/default/flows/GoogleSignUpFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignContactValues</name>
        <label>AssignContactValues</label>
        <locationX>559</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>varContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nameComp.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nameComp.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserName.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ShowMessageOnUI</name>
        <label>ShowMessageOnUI</label>
        <locationX>483</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>varShowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Google_Sign_Up</targetReference>
        </connector>
    </assignments>
    <interviewLabel>GoogleSignUpFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GoogleSignUpFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateContact</name>
        <label>CreateContact</label>
        <locationX>759</locationX>
        <locationY>207</locationY>
        <connector>
            <targetReference>Google_Sign_Up_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ShowMessageOnUI</targetReference>
        </faultConnector>
        <inputReference>varContact</inputReference>
    </recordCreates>
    <screens>
        <name>Google_Sign_Up</name>
        <label>Google Sign Up</label>
        <locationX>176</locationX>
        <locationY>248</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignContactValues</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;h1&gt;&lt;img src=&quot;https://kakashilightning-dev-ed--c.ap4.content.force.com/sfc/servlet.shepherd/version/download/0686F00000fvvhE?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/h1&gt;&lt;h1&gt;Create your Google Account&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 20, 20);&quot;&gt;Please input all the information before creating&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varShowMessage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Google_Sign_Up_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Google_Sign_Up_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>nameComp</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference>varContact.FirstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference>varContact.LastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>UserName</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>UserName</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Google_Sign_Up_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SideBar</name>
                    <fieldText>&lt;p&gt;&lt;img src=&quot;https://kakashilightning-dev-ed--c.ap4.content.force.com/sfc/servlet.shepherd/version/download/0686F00000fvvfm?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Google_Sign_Up_0</name>
        <label>Google Sign Up</label>
        <locationX>924</locationX>
        <locationY>344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Header_0</name>
            <fieldText>&lt;h1&gt;&lt;img src=&quot;https://kakashilightning-dev-ed--c.ap4.content.force.com/sfc/servlet.shepherd/version/download/0686F00000fvvhE?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/h1&gt;&lt;h1&gt;Create your Google Account&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Google_Sign_Up_Section1_0</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Google_Sign_Up_Section1_Column1_0</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>nameComp_0</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>UserName_0</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>UserName</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Google_Sign_Up_Section1_Column2_0</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SideBar_0</name>
                    <fieldText>&lt;p&gt;&lt;img src=&quot;https://kakashilightning-dev-ed--c.ap4.content.force.com/sfc/servlet.shepherd/version/download/0686F00000fvvfm?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Google_Sign_Up</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varShowMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
